@font-face {
	font-family: "mainFont";
	src: url('famifont.ttf');
}

html, body {
	background-color:black;
	color:white;
	font-family:mainFont;
}

.centerBody {
	position:absolute;
	top:50%;
	left:50%;
	width:60%;
	transform:translate(-50%, -50%);
	opacity:0.0;
	transition:opacity .3s;
}

button {
	background-color:#282828;
	color:white;
	cursor:pointer;
	border:none;
	border-radius:10px;
	width:100px;
	height:30px;
	margin:5px;
	font-size:14px;
	font-family:verdana;
	transition:background-color .5s,width .5s,height .5s,font-size .5s;
}

button:hover {
	background-color:#5e5e5e;
	width:200px;
	height:60px;
	font-size:24px;
}

#buttonContainer {
	text-align:center;
	color:white;
}

#redir {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	transition:opacity .3s;
	opacity:0.0
}

#aboutPage {
	text-align:left;
	width:100%;
	transition:opacity .3s;
	opacity:0.0;
}

.text {
	font-family:Arial;
}

.divider {
	width:100%;
	height:2px;
	margin-top:3px;
	margin-bottom:3px;
	text-align:center;
	background-color:#5e5e5e;
}