html, body {
	background:black;
	color:white;
	height:100%;
	font-family:Arial;
	text-align:center;
	transition:margin .5s;
}

a {
	color:white;
	text-decoration:none;
	margin-right:5px;
}

button {
	border:0;
	background:#282828;
	color:white;
	height:30px;
	transition:background .5s;
	cursor:pointer;
}

.container {
	margin-top:0.5%;
	margin-bottom:0.5%;
}

button:hover {
	background:#646464;
}

h1 {
	margin:0;
}

@media (min-width:980px) {
	body {
		margin-top:10%;
	}
	p {
		margin-top:2px;
		margin-bottom:5px;
	}
}

@media (max-width:979px) {
	body {
		margin-top:5%;
	}
	.container {
		margin-top:5px;
	}
	a, button {
		margin-top:5px;
	}
	p {
		margin-top:5px;
		margin-bottom:10px;
	}
	button {
		height:50px;
		width:50%;
	}
}